<!DOCTYPE html>
<html>
<head>
	<title>Dodaj Svoje Informacije</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Slepčeve Informacije:</button><br><br>

		  		Tvoj Broj:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		Ime<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" ><br><br>

		  		Prezime:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>

		  		Tvoja Vještina:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill"><br><br>

		  		Lokacija:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location"><br><br>

		  		Dodaj Sliku: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">UPLOUDAJ</button>

			</form>
<a href="/about">About Us (ne radi jbg, nemoj kliknut)</a>
		</body>

	</font>
</center>
</html>
